@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #1b1a19;
  /* white */
  color: #fff;
  padding: 5px;
}

.billStatus {
  border-radius: 8px;
  border: 1px solid #e2e8f0;
  /* background op 90 */
  /* gray rgb */
  background-color: rgba(66, 55, 59, 0.8);
  height: 60px;
  font-size: 23px;
}

.recordButton {
  /* absolute bottom button */
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100px;
  background-color: #f5f5f5;
  border-top: 1px solid #e5e5e5;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: #000;
  cursor: pointer;
  border-radius: 8px;
  /* gradient backdround right to left blue to voilet to purple */
  background: linear-gradient(to right, #00b8d4, #0052cc, #5f27cd);

  /* make button interactive */
}

/* recordButton */
.recordButton:focus,
recordButton:hover {
  /* border */
  outline: none;
  border: 1px solid #e2e8f0;
  /* scale */
  transform: scale(0.1);
}
.showTimeline {
  /* overflow y scroll */
  overflow-y: scroll;
  /* height of the timeline */
  height: calc(100vh - 100px);
  /* background color */
  background-color: #1b1a19;
  /* border radius */
  border-radius: 8px;
  /* border */
  border: 1px solid #e5e5e5;
  /* animate when new item comes */
  animation: fadeIn 0.5s;

  /* focus on new items */
}
/* fadeIn */
@keyframes fadeIn {
  from {
    opacity: 0;
    /* smoothe */
    transform: scale(0.9);
  }
  to {
    transform: scale(0.9);
    opacity: 1;
  }
}
.timeLineItem {
  height: 50px;
  /* radius */
  border-radius: 5px;
  margin: 10px;
  background-color: #98986d;
  padding: 2px;
  /* shadow */
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}
